.home-container {
    background-color: #beecec; 
    padding: 20px;
    text-align: center;
    width: 1340px;
  }
  
  .headeer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #78b3f3; 
    color: rgb(156, 151, 151);
    margin-bottom: 40px; /* Agrega espacio debajo del header */
  }
  
  .logo-img {
    height: 55px; /* Ajusta el tamaño de tu logo */
  }
  
  .search-container {
    flex: 1; /* Esto hace que el buscador se expanda y ocupe el espacio disponible */
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .header-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px; /* Espaciado entre los iconos */
    color: white;
  }
  
  .header-icon {
    font-size: 24px; /* Tamaño de los iconos */
    cursor: pointer;
  }
  
  .home-title {
    color: #003366; /* Azul oscuro */
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 20px; /* Agregamos más espacio */
  }
  
  .home-description {
    color: #666666; /* Gris suave para el texto */
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 15px; /* Agregamos más espacio */
  }
  
  .productos-lista {
    display: flex;  /* Usamos flexbox para alinear los productos en una sola fila */  
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas */
    gap: 40px;
    justify-items: flex-start;
    margin-top: 15px;
    flex-wrap: wrap; /* Evita que los productos salten a nuevas filas */
    overflow-x: auto; /* Agrega un desplazamiento horizontal si los productos no caben en la pantalla */
  }
  
  .producto-card {
    background-color: #ffffff;  /* Blanco para los productos */
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    transition: transform 0.3s ease-in-out;
    margin-top: 55px;
    flex-shrink: 0;  /* Evita que los productos se reduzcan de tamaño */
    text-align: center; /* Asegura que todo se alinee al centro */
  }
  
  .producto-cantidad {
    font-size: 16px;  /* Tamaño de texto para la cantidad */
    color: #007acc;  /* Azul para la cantidad */
    margin-top: 10px;  /* Espacio entre precio y cantidad */
  }
  
  .producto-imagen {
    width: 50%;  /* La imagen ocupará todo el ancho disponible */
    height: auto;  /* Mantendrá la proporción original de la imagen */
    border-radius: 8px;  /* Bordes redondeados para la imagen */
    margin-bottom: 15px;  /* Espacio entre la imagen y el texto */
  }
  .producto-card:hover {
    transform: scale(1.05);
  }
  
  .producto-nombre {
    color: #00509e;  /* Azul más claro para el nombre del producto */
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .producto-descripcion {
    color: #444444; /* Gris oscuro para la descripción */
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .producto-precio {
    color: #007acc;  /* Azul vibrante para el precio */
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer {
    background-color: #1c65af; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons i {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .social-icons i:hover {
    transform: scale(1.2);
    color: #78b3f3;
  }
  
  .agregar-carrito-btn {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .agregar-carrito-btn:hover {
    background-color: #00509e;
  }
  
  .agregar-carrito-btn {
    background-color: #0b8566;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px auto;
    transition: background-color 0.3s ease;
  }
  
  .agregar-carrito-btn:hover {
    background-color: #39ad77;
  }
  
  .agregar-carrito-btn i {
    font-size: 1.2rem;
  }

  .carrito-container {
    position: relative;
    display: inline-block;
  }
  
  .carrito-img {
    width: 32px; /* Ajusta el tamaño del icono del carrito */
    height: 32px;
    cursor: pointer;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2)); /* Sombra ligera para resaltar */
  }
  
  .carrito-cantidad {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 5px;
    min-width: 20px;
    text-align: center;
  }
  