.pago-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%; /* Altura completa de la pantalla */
    background-color: #f8f7f7; 
  }
  
  .btn-pagar, .btn-cancelar {
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-pagar {
    background-color: #4A90E2; 
    color: white;
  }
  
  .btn-cancelar {
    background-color: #d9534f;
    color: white;
  }

  .paypal {
    width: 30px; 
    height: auto;
    margin-right: 15px; 
    vertical-align: middle; 
  }
  